.chat-comment
  background: rgba(black, 0.5)
  border: 1px solid rgba(white, 0)
  color: white
  border-radius: 3px
  margin: 1em 0

  .controls
    float: right
    font-size: 0.7em
    margin-right: 0.5em
    opacity: 0.5

  .byline
    margin: 1em

  .timestamp
    opacity: 0.5

  .content
    margin: 1em

  &[data-summary]
    display: flex
    flex-wrap: wrap
    margin: 0.3em 0

    .byline
    .content
      margin: 0.5em
