.chat-link-to-subject
  border: 1px solid transparent
  display: inline-block
  margin: 0 0.7em 0.5em 0
  position: relative

  &:hover
    border-color: rgba(white, 0.5)

  .thumbnail
    display: block
    max-width: 20vw

.badge
  background: black
  border: 2px solid
  border-radius: 1.5em
  color: white
  font-size: 0.7em
  font-weight: bold
  height: 1.5em
  min-width: 1.5em
  position: absolute
  right: -0.5em
  text-align: center
  top: -0.5em

.chat-comment
  display: flex
  margin: 1em 0

  .byline
    flex: 1
    margin: 1em 0.5em
    text-align: center

  .avatar
    font-size: 3em

  .body
    background: BACKGROUND
    border-radius: 3px
    color: FOREGROUND
    flex: 4
    padding: 1em 3vw

  .metadata
    opacity: 0.5

  &[data-summary]
    display: block
    margin: 0.3em 0
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

    .byline
      display: inline-block
      margin: 0 0.2em 0 0
      opacity: 0.7

      > p
        display: inline
        margin-right: 0.3em

    .avatar
      font-size: 1em

    .body
      background: transparent
      color: inherit
      display: inline
      padding: 0

    .metadata
      display: inline
      margin-right: 0.4em
      opacity: 0.7

    .content
      display: inline
      margin-right: 0.3em

  a > &
    @extends .minor-button
    text-align: left
