.progress-wheel
  height: 1.3em
  width: 1.3em
  vertical-align: middle

  .disc
    fill: transparent
    stroke: rgba(gray, 0.2)
    stroke-width: 10

  .arc
    stroke: currentColor
    stroke-width: 10
